@font-face {
    font-family: Fredoka;
    src: url(../fonts/Directive-Four.otf);
}
@font-face {
    font-family: Pristina;
    src: url(../fonts/RAGE.TTF);
}
@font-face {
    font-family: Earls;
    src: url(../fonts/EarlsRevenge-69Kg.ttf);
}
@font-face {
    font-family: Oswaldos;
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}
@font-face {
    font-family: Bebas;
    src: url(../fonts/Bebas-Regular.ttf);
}